@{
	PageData["title"] = "AngularJS SPA | Signup";
}
<div class="row">
	<form class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" ng-submit="signup(userName, MPassword)">
		<h2 class="text-center">Sign Up</h2>
		<div class="form-box">
			<div class="form-group">
				<input ng-model="userName" type="text" class="form-control" placeholder="Username or Email" required autofocus />
			</div>
			<div class="form-group">
				<input ng-model="MPassword" class="form-control" placeholder="password (with key-logger directive)" type="password" key-logger mode="numpad" />
			</div>
			<div class="form-group">
				<button class="btn btn-primary btn-block" type="submit" ng-disabled="!(userName && MPassword)" disabled>Sign up</button>
			</div>
		</div>
	</form>
</div>